<div id=index-header>
  <h1 class='site-description'>Kevin's Hair Salon</h1>
  <br>
  <br>
  <br>
  <h2 class='site-description'>A place where you can store information about stylists and clients.</h2>
</div>
<br>
<hr>

<div class='container row index-directory'>
  <br>
  <div class='col-md-6'>
    <p><a href="/stylists">Look up Stylists</a></p>
  </div>
  <div class='col-md-6'>
    <p><a href="/clients">Look up Clients</a></p>
  </div>
  <br>
  <br>
</div>

<hr>
