<!DOCTYPE html>
  <html>
    <head>
      <title>Kevin's Hair Salon</title>
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
      <link type="text/css" rel="stylesheet" href="/style.css"/>
    </head>
    <body>

      <div class="container">
        <div class=" banner row col-md-12">
          <a href='/'><img id='logo' src='http://webneel.com/sites/default/files/images/manual/logo/2-salon-barber-logo-design.png'></a>
        </div>
      </div>

      <hr>

      <div class="container">
        <%= yield %>
      </div>

    </body>
  </html>
